{% extends "Index.html" %}
{%block title%}Info Page{% endblock %}
{%block content%}
<div align="center" style="margin-top: 1%;
  padding: 10px;
<div class="card" align="center" >

    
<div>
<div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img src="https://i.redd.it/i5crijc7kj431.jpg" height="500" width="600" alt="me">
            
        </div>
        
        <div class="card-block px-2">
            <h4 class="card-title">Information Page</h4>
            <p class="card-text">Stocks are very RISKY Investments don't do it. But do invest in Stonks</p>
            <a href="https://robinhood.com/us/en/" class="btn btn-primary">RobinHood</a>
        </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">
            TEEHEE
        </div>
    </div>    
    </div>
</div>

{%endblock%}